*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: "Calibri";
}

body{
    background-color: black;
}

h1{
    text-align: center;
    padding: 1%;
    color: white;
}

.dashboard{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 98%;
    height: 88vh;
    background-image: url("img/verde.png");
    margin: auto;
    border: 20px solid;
    border-image: url("img/madera.jpg") 20 round;
}

.dashboard p{
    text-align: center;
    font-size: 3vh;
    font-weight: bold;
    color: white;
}

#player{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-image: url("img/deck_image.jpg");
    background-size: cover;
    width: 58%;
    height: 29vh;
    border-radius: 15px;
    background-size: 102%;
    padding: 1vh;
}

#computer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-image: url("img/deck_image.jpg");
    background-size: cover;
    width: 58%;
    height: 29vh;
    border-radius: 15px;
    background-size: 102%;
    padding: 1vh;
    margin-bottom: 3vh;
}

#player-cards{
    width: 16%;
    height: 26vh;
    background-color: white;
    border-radius: 3px;
    background-size: cover;   
    background-image: url("img/revers.jpg"); 
}

#computer-cards{
    width: 16%;
    height: 26vh;
    background-color: white;
    border-radius: 3px;
    background-size: cover;   
    background-image: url("img/revers.jpg"); 
}


#start-game{
    position: absolute;
    width: 8%;
    background-color: #E5E7E9;
    border-bottom: 4px solid black;
    border-radius: 15px;
    padding: 1.5vh;
    text-align: center;
    left: 4%;
    font-weight: bold;
    top: 15%;
}

#start-game:hover{
    cursor: pointer;
    background-color: green;
    color: white;
}

#playerPoints{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 15%;
    border: 3px solid black;
    right: 4%;
    top: 20%;
    text-align: center;
    height: 32vh;
    background-color: #E5E7E9;
    border-radius: 10px;
}

#computerPoints{
    position: absolute;
    width: 15%;
    border: 3px solid black;
    right: 4%;
    top: 60%;
    text-align: center;
    height: 32vh;
    background-color: #E5E7E9;
    border-radius: 10px;
}

.title_points{
    border-bottom: 2px solid black;
    padding: 1vh;
    font-weight: bold;
}

#agafarCarta{
    display: none;
    position: absolute;
    width: 8%;
    background-color: #E5E7E9;
    border-bottom: 4px solid black;
    border-radius: 15px;
    padding: 1.5vh;
    text-align: center;
    left: 13%;
    font-weight: bold;
    top: 15%
}

#agafarCarta:hover{
    cursor: pointer;
    background-color: green;
    color: white;
}

#acabaTorn{
    display: none;
    position: absolute;
    width: 8%;
    background-color: #E5E7E9;
    border-bottom: 4px solid black;
    border-radius: 15px;
    padding: 1.5vh;
    text-align: center;
    left: 8%;
    font-weight: bold;
    top: 33%
}

#acabaTorn:hover{
    cursor: pointer;
    background-color: green;
    color: white;
}

#winner{
    display: none;
    position: absolute;
    background-color: green;
    text-align: center;
    color: white;
    font-size: 6vh;
    font-weight: bold;
    border: 4px solid black;
    border-radius: 2vh;
    padding: 2vh;
    left: 41%;
}

#reset{
    display: none;
    position: absolute;
    width: 2.5%;
    top: 15%;
    left: 6%;
}

#reset:hover{
    cursor: pointer;
    opacity: 0.7;
}





